html, body {
    margin: 0;
    height: 100%;
    background-color: #00664B;
    padding: 0;
}

/*Header section*/

.library-header {
    background-color: #D38855;
    display: flex;
    padding: 25px;
}

.library-name {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

#add {
    font-size: 27px;
    margin-left: auto;
    padding-right: 10px;
    border: #D38855;
    background-color: #D38855;
    cursor: pointer;
}

#book {
    font-size: 22px;
    padding-left: 5px;
}

/*main section*/

/*example book cards*/
.book-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.book-container, .book-container2 {
    background-color: #8d3b3b;
    color: #D38855;
    margin: 15px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    border-left: 15px solid #D38855;
    width: 400px;
    height: 135px;
}

.status {
    padding-bottom: 10px;
}


.button-status {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    background-color: #00664B;
    color: #e4d0c2;
}

.remove-button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(175, 16, 16);
    color: #e4d0c2;
}

/*Adding a new book section*/

.add-new-book {
    background-color: rgba(234, 167, 122, 0.7);
    margin: 0px;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100vw; 
    height: 100vh;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.main-form-group {
    background-color: #eaa77a;
    position: relative;
    display: block;
    padding: 60px;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    min-width: 400px;
    width: 600px;
    box-sizing: border-box;
    margin-left: 350px;
    margin-right: 300px;
}

.main-form-group .read-form-group{
    display: none;
}

.form-group, .read-form-group {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title2, .author2, .pages2, .read {
    font-size: 20px;
    color: #8d3b3b;
    font-weight: bold;
}

#title2, #author2, #pages2, #read {
    font-size: 20px;
    color: #8d3b3b;
    background-color: #ddb9a1;
    margin: 6px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

#Read {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    background-color: #00664B;
    color: #e4d0c2;
}

#Unread {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(175, 16, 16);
    color: #e4d0c2;
    margin-left: 10px;
}

.form-group-buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.form-group-add-button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#Add {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    background-color: #8d3b3b;
    color: #e4d0c2;
    padding-left: 8px;
    padding-right: 8px;
}

.exit {
    position: absolute;
    background-color: #eaa77a;
    border: none;
    cursor: pointer;
    top: 0;
    right: 0;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 10px;
}

